// OCD Config
module.exports = {
    ugly: false,

    cdn: {
        surface: 'https://static.obsessivefacts.com',
        plugins: 'https://basement.obsessivefacts.com'
    },

    db: {
        db: '{{ lookup('env','OBSESSIVEFACTS_POSTGRESQL_DATABASE') }}',
        user: '{{ lookup('env','OBSESSIVEFACTS_POSTGRESQL_USER') }}',
        pass: '{{ lookup('env','OBSESSIVEFACTS_POSTGRESQL_PASSWORD') }}',
        options: {
            host: 'localhost',
            dialect: 'postgres',
            logging: false,
            operatorsAliases: 0
        }
    },

    redis: {
        host: '127.0.0.1',
        port: 6379,
        db:   3
    },

    deimos: { url: 'http://hostname' }, // find it yourself.

    security: {
        csp: 'default-src \'self\' static.obsessivefacts.com basement.obsessivefacts.com; img-src \'self\' static.obsessivefacts.com basement.obsessivefacts.com data:; style-src \'self\' \'unsafe-inline\' static.obsessivefacts.com basement.obsessivefacts.com; frame-ancestors \'none\'; object-src \'none\'; connect-src \'self\' static.obsessivefacts.com basement.obsessivefacts.com wss://www.obsessivefacts.com; base-uri \'self\'; form-action \'self\'',
        hsts: 'max-age=63072000; includeSubDomains; preload',
        xFrameOptions: 'DENY',
        cookieSecret: 'oh whoops',
        accessControlAllowOrigin: 'www.obsessivefacts.com,static.obsessivefacts.com,basement.obsessivefacts.com'
    },

    cookie: {
        signed: true,
        httpOnly: true,
        secure: true,
        sameSite: 'Strict',
        maxAge: 2592000000 // 30 days
    },

    users: {
        defaultTitle: 'User',
        tmpEncryptionPassphrase: 'you have activated my trap card',
    }
}
